/*======== Common ========*/
body {
  background: #dedddd;
}
input::-webkit-input-placeholder {
  color: #999;
}
input:-moz-placeholder {
  color: #fff;
}
input::-moz-placeholder {
  color: #fff;
}
input:-ms-placeholder {
  color: #999;
}
img {
  max-width: 100%;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix {
  display: block;
  zoom: 1;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}

.ellipsis{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/*======== App ========*/
.app {
  position: relative;
  margin: 0 auto;
  min-width: 320px;
  max-width: 640px;
  min-height: 100%;
  background: #fff;
}
.app-content {
  padding-bottom: 48px;
}
.white-bg {
  background: #fff;
}
.grey-bg {
  background: #f7f7f7;
}

/*======== Search ========*/
.search-box {
  margin: 8px;
}
.search-box input {
  height: 30px;
  line-height: normal;
  padding: 0 10px;
  background-color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 1.2rem;
  box-shadow: none;
}

/*======== Index ========*/
.app .app-index {
  padding-bottom: 60px;
}
.app .app-index .table-view {
  background-color: #fff;
}
.app .app-index .table-view .table-view-cell .media-object {
  margin-top: 8px;
  margin-left: -38px;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
.app .app-index .table-view .table-view-cell .media-object.edit-task {
  margin-left: 0;
}
.app .app-index .table-view .table-view-cell  .media-body {
  overflow: hidden;
}
.app .app-index .table-view .table-view-cell  .media-body .media-tit {
  font-size: 1.6rem;
}
.app .app-index .table-view.table-view-one .media-sum {
  max-height: 18px;
  font-size: 1.4rem;
  overflow: hidden;
}


/*======== Login ========*/
.login-bg {
  background: #f7f7f7;
}
.login-box .form-horizontal {
  background: #fff;
  margin: 30px 0;
  padding: 0 10px;
}
.login-box .form-horizontal input {
  height: 48px;
  padding: 16px 0;
  font-size: 1.6rem;
  background: none;
  border: none;
  border-bottom: 1px solid #f7f7f7;
}
.login-box  .btn-group {
  margin: 0 24px;
}
.login-box  .btn-group .btn {
  margin: 0 0 20px;
}
.operation-btn {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 2rem;
  text-align: center;
  color: #699FE1;
  font-size: 1.6rem;
}
.header-box {
  position: relative;
  height: 45px;
  line-height: 45px;
  color: #fff;
  text-align: center;
  box-sizing: border-box;
}

.header-box .header-content {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  max-width: 640px;
  margin: 0 auto;
  background: #699FE1;
  z-index: 99;
}
.header-box.header-sub .header-content{
  z-index: 100;
}
.header-box .header-content .header-tab a {
  padding: 5px 10px;
  font-size: 1.4rem;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 4px;
}
.header-box .header-content .header-tab a:first-child {
  background-color: #fff;
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.header-box .header-content .header-tab a:last-child {
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.header-box .header-content .header-tab a.active {
  color: #699FE1;
}
.header-box .header-content h1 {
  padding: 0 80px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: normal;
  font-size: 1.8rem;
}
.header-box .header-content .header-icon {
  position: absolute;
  top: 0.2rem;
  color: #fff;
}
.header-box .header-content .header-icon.add-task {
  right: 1rem;
}
.header-box .header-content .header-icon.return-btn {
  left: 1rem;
}
.header-box .header-content .header-icon i {
  font-size: 2.2rem;
}
