/*====== Button ========*/
button[type="button"] {
  border: none; }

.label, .btn {
  display: inline-block;
  padding: 14px 20px;
  font-size: 1.8rem;
  line-height: 20px;
  background: #E4E4E4;
  color: #666;
  white-space: nowrap;
  border-radius: 2px;
  -webkit-tap-highlight-color: transparent; }

.btn:hover {
  background-color: #CFCFCF; }

.btn-mini,
.label-mini {
  padding: 6px 16px;
  font-size: 1.4rem; }


.btn-block {
  display: block;
  text-align: center; }

.btn-group .btn {
  margin: 0 5px; }

.btn-primary {
  background: #699FE1;
  color: #fff; }
  .btn-primary:hover {
    background: #5491dd; }

.btn-success {
  background: #50BA5F;
  color: #fff; }
  .btn-success:hover {
    background: #44ac53; }

.btn-warning {
  background: #FF9437;
  color: #fff; }
  .btn-warning:hover {
    background: #ff861e; }

.btn-danger {
  background: #EB8B79;
  color: #fff; }
  .btn-danger:hover {
    background: #e87863; }

.btn-violet {
  background: #8089C1;
  color: #fff; }
  .btn-violet:hover {
    background: #6f79b9; }

.btn-grey {
  background: #666;
  color: #fff; }
  .btn-grey:hover {
    background: #595959; }

.btn-primary-border {
  background: none;
  color: #699FE1;
  border: 1px solid #699FE1; }
  .btn-primary-border:hover {
    background: rgba(102, 204, 255, 0.16); }

.btn-success-border {
  background: none;
  color: #50BA5F;
  border: 1px solid #50BA5F; }
  .btn-success-border:hover {
    background: rgba(48, 200, 200, 0.16); }

.btn-warning-border {
  background: none;
  color: #FF9437;
  border: 1px solid #FF9437; }
  .btn-warning-border:hover {
    background: rgba(243, 210, 97, 0.16); }

.btn-danger-border {
  background: none;
  color: #EB8B79;
  border: 1px solid #EB8B79; }
  .btn-danger-border:hover {
    background: rgba(255, 153, 153, 0.16); }

.btn-violet-border {
  background: none;
  color: #8089C1;
  border: 1px solid #8089C1; }
  .btn-violet-border:hover {
    background: rgba(128, 137, 193, 0.16); }

.btn-grey-border {
  background: none;
  color: #666;
  border: 1px solid #666; }
  .btn-grey-border:hover {
    background: rgba(102, 102, 102, 0.16); }

.label-primary {
  background: #699FE1;
  color: #fff; }

.label-success {
  background: #50BA5F;
  color: #fff; }

.label-warning {
  background: #FF9437;
  color: #fff; }

.label-danger {
  background: #EB8B79;
  color: #fff; }

.label-violet {
  background: #8089C1;
  color: #fff; }

.label-grey {
  background: #666;
  color: #fff; }

.btn-radius-2 {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px; }

.btn-radius-4 {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px; }

.btn-radius-16 {
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
  border-radius: 16px; }

.btn-radius-50 {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%; }

